body 
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
    color: #a0a0a0;
    font-family: Arial, "Arial Black", Verdana, sans-serif;
    background-color: #000000;
}
/* en-tete */
header 
{
    height: 10em;
    width: 58em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    position: relative;
}
#titre_principal 
{
    display: flex;
    flex-direction: column;
}
#logo 
{
    padding-bottom: 1.5em;
    padding-left: 1em;
}

#logo img 
{
    width: 6em;
    height: 6em;
}

#titre 
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    position: absolute;
    padding-left: 20em;
    color: #a0a0a0;
}
#reseau-sociaux
{
    position: relative;
    margin-right: 0.8em;
    margin-bottom: -0.5em;
}
nav ul 
{
    list-style-type: none;
    display: flex;
    padding: 0 0 0 0;

}
nav a 
{
    color: #727272;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover 
{
    color: #1d1c1c;
}
.facebook
{
    width: 5em;
    height: 5em;
}
/* block middle */
#block-middle
{
    display: grid;
    grid-template-columns: 10em 50em;
    grid-template-rows: min-content 1em min-content;
    margin: auto;
    width: 58em;
    height: 60em;
    justify-content: center;
    border: 0.2em groove #484949;
    border-radius: 0.5em;
}
#menu
{
    margin : auto;
    padding : 0em;
    align-items: center;
    border: 0.2em groove #484949;
    width: 8em;
    height: 50em;
    list-style-type: none;
    grid-column: 1; 
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.bouton_noir
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    width: 8em;
    height: 2em;
    float: right;
    text-align: center;
    color: #444343;
    font-weight: bold;
    border-radius: 0.8em;
    background: url("images/degradeblack.png") repeat-x;
}

#section
{
    padding-left: 2em;
    padding-right: 2em;
    grid-column: 2; 
    grid-row: 2;
}
section p
{
    text-align: justify;
}
/* formulaire de contacte */
.formulaire
{
    width: 40em;
    display: grid;
    grid-template-columns: 20em 20em;
    align-items: center;
}
#formulaire-01
{
    width: 20em;
}
article
{
    padding-left : 0.5em;
    padding-bottom: 0.5em;
}
.amelio
{
    grid-column: 1  / span 2;
}
#ameliorer
{
    width: 52em;
    max-width: 52em;
    min-width: 52em;
    min-height: 30em;
    max-height: 30em;
}
#envoyer
{
    float: right;
}