body 
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
    color: #a0a0a0;
    background-color: #000000;
}
header 
{
    border: 0.4em groove #484949;
    border-radius: 1em;
    box-shadow: 0px 4px 4px #1111134d;
    height: 10em;
    width: 55em;
    display: flex;
    
}
#logo img
{
    width: 100px;
    height: 100px;
}
#logo
{
    grid-column: 1;
}
#titre
{
    grid-column: 2 / span 2;
    grid-row: 1;
}
#reseau-sociaux
{
    grid-column: 3;
    grid-row: 2;
}