body
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
    color: #a0a0a0;
}
/* en-tete */
header
{
    width: 60em;
    margin: auto;
}
#header
{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 10em 30em 10em;
    grid-template-rows: 2em 6em 2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.2em groove #484949;
    border-radius: 0.5em;
}
#logo img 
{
    width: 8em;
    height: 8em;
}
#logo
{
    grid-row: 1 / span 3;
    padding-top: 1em;
    
}
#titre-header
{
    grid-row: 2;
    grid-column: 2;
    align-items: center;
}
#reseau-sociaux
{
    grid-row: 3;
    grid-column: 3;
    padding-left: 5.5em;
}
.reseau-sociaux
{
    width: 2em;
    height: 2em;
}
/* corps de page */
#section
{
    height: 40em;
    display: grid;
    justify-items: left;
    justify-content: center;
    grid-template-columns: 15em 45em;
    padding-bottom: 0.5em;
}
#menu
{
    height: 38em;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    border-right: 0.2em groove #484949;
    border-radius: 0.5em;
}
#menu ul
{
    list-style-type: none;
}
#tableau
{
    max-width: 42em;
    max-height: 38em;
    overflow: auto;
    padding-right: 1em;
}
/* pied de page */
footer
{
    width: 60em;
    margin: auto;
}
#pied-de-page
{
    border-top: 0.2em groove #484949;
    border-radius: 0.5em;
    height: 10em;
}
